*{
    margin:0;
    /* padding: 0; */
    box-sizing: border-box;
    max-width:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

.nav_bar {
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #e1c732;
    color:#000000;  
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
   
}
nav{
    /* background: white; */
    display:flex;
}
nav ul{
    list-style: none;
}
nav ul li{
    text-decoration: none;
    /* display: inline-block;
    margin-left:30px;
    padding: 5px 10px;
    /* border: 1px solid #000; 
    position: relative;
    /* background-color: burlywood; 
    cursor: pointer; */
    display: inline-block;
    
}

nav ul li a{
    margin-left:30px;
    padding: 5px 10px;
    /* border: 1px solid #000; */
    position: relative;
    /* background-color: burlywood; */
    cursor: pointer;
    text-decoration:none;
    color:#000;
    font-family:Ink Free;
    font-weight: bold;
    text-transform:capitalize;
    transition: 0.5s ease;
}
nav ul li a:hover{
    color: rgb(185, 5, 5);
}

nav ul li a:before{
    position: absolute;
    content:"";
    width: 65%;
    height: 55%;
    border-top:3px solid #000;
    border-left:3px solid #000;
    left:0;
    top:0;
    transition: 0.3s;

}
nav ul li a:hover:before{
    left: -4px;
    top: -4px;

}
nav ul li a:after{
    position: absolute;
    content:"";
    width: 65%;
    height: 55%;
    border-right:3px solid #000;
    border-bottom:3px solid #000;
    right:0;
    bottom:0;
    transition: 0.3s;

}
nav ul li a:hover:after{
    right: -4px;
    bottom: -4px;

}
.menu{
    width:30px;
   display:none;
}
/* ==== search area==== */
.search input{
/* position:relative; */
font-size:15px;
display:inline-block;
}
.search input[type="text"]{
    background:#fff;
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
.search input[type="submit"]{
    position: relative;
    left:-5px;
    border-radius: 0 25px 25px 0;
    height: 30px;
    width: 80px;
    border:none;
    outline: none;
    cursor: pointer;
    background:yellow;
    transition: 0.5s ease-out;
}
.search input[type="submit"]:hover{
   background: rgb(94, 88, 6);
   color: white;
    
}

.Logo{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: Showcard Gothic;
    color:#000;
    margin:0 30px;
    border: dotted black;
}
.first_section{
    width:100%;
    min-height:30vh;
    background: linear-gradient( rgba(1, 1, 1, 0.6),rgba(239, 239, 70, 0.3)),url('../images/back3.jpg');
    background-size: cover;
    background-position: bottom; 
   display:flex;
   align-items:center;
   justify-content: center;
   flex-direction: column;
    
}
.logo{
    
    width: 50%;
    /* background: blue; */
    margin-top:-40px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
  
} 
 .title{
    font-family: Colonna MT;
    font-size: 30px;
    text-transform:uppercase;
    border-bottom: 4px solid white;
    color: orange;
}
.logo .title span{
    position: relative;
    font-family: Colonna MT;
    text-transform:uppercase;
    font-size: 30px;
    letter-spacing: -6px;
    display: inline-block;
    animation: waves 1s ease-in-out ;
    animation-delay: calc(0.15s * var(--i) )
}
@keyframes waves{
    0%{transform: translateY(0px) }

    25%{ transform:translateY(-20px)}

    40%, 80% ,100%{transform: translateY(0px)}
}

.heading_text{
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(246, 224, 224);
    animation: moving 4s ease ;
}

@keyframes moving{
    0%
    {
        opacity:0;
        visibility: hidden;
        transform:translateX(-90px);
    }

    100%{
        visibility:visible;
     transform:translateX(0px);

    }
}

/* -------section second ---------- */
.second_section{
    width:100%;
}
.second_section .container{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:50px;

}
.second_section .container .image_box{
width:45%;
/* background:blue; */
}
.second_section .container .image_box img{
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center; 

}
.second_section .container .text_box{
    margin-left: 40px;
    /* background-color: antiquewhite; */
}
.second_section .container .text_box .first_heading{
    font-size: 20px;
    color:rgb(94, 88, 6);
    margin-bottom:20px;
}
.second_section .container .text_box .small_container{
    /* background: aqua; */
    display: flex;
    margin-top:15px;
    

}
.second_section .container .text_box .small_container .small_text h2{
    font-size: 18px;
    color:rgb(94, 88, 6);

}
.second_section .container .text_box .small_container .small_image{
    width: 40px;
    margin-right:10px;
}

/* ----second section---- */
.third_section{
    background: rgb(249, 249, 249);
    width: 100%;
    /* height:70vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(79, 63, 63);
    
}
.title_third_section{
    font-family: Colonna MT;
    font-size: 30px;
    text-transform:uppercase;
    text-decoration: underline rgb(94, 88, 6);
    color: rgb(94, 88, 6);
    margin-top: 20px;
    margin-bottom: 20px;
}
.third_section .first_child{
font-size:16px;
margin-bottom:50px;
}
.box_container{
    /* background: green;  */
    width:100%;
    /* height: ; */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 100px;
}
.box{
    background: rgb(255, 255, 255);
    margin: 20px;
    width:33%;
    height: inherit;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    /* padding-left: 20px; */
    border: none;
    outline: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.box img{
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
}
.box .contents{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height:0%;
    position: absolute;
    left:0;
    bottom:0;
    background: linear-gradient(200deg, rgba(192, 189, 189, 0.6)90%, rgb(255, 255, 0) 10%);
    overflow: hidden;
    transition: 0.5s ease;
    color: #eee;
}
.box:hover .contents{
    height: 100%;
}
.box h2{
    padding-bottom: 10px;
    color:white;
}
.stickers{
    width:100px;
    height:100px;
    position:absolute;
    top: -8px;
    left: -8px;
    /* background-color: coral; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index:100;
  }
   .stickers::before{
      content:"Guarantee";
      position:absolute;
      width:150px;
      height:20px;
      /* color:rgb(67, 139, 232) */
      background-color: var(--i);
      transform: rotate(-45deg) translateY(-10px);
      text-align: center;
      color: white;
  }
  .stickers::after{
      content:"";
      position:absolute;
      width:10px;
      height:10px;
      bottom:0px;
      left:0px;
      z-index:-39999; 
      background-color: #061930;
      box-shadow: 90px -90px  #061930;
  }
.second_section h2:nth-child(2){
    margin-top: 20px;
}
.box i{
    font-size: 50px;
    align-items: center;
    color: #eee;
}

/* ---------------fourth section---------- */
.fourth_section{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    color: rgb(94, 88, 6);
}
.fourth_section h1{
 font-size: 35px;
 text-transform:capitalize;
 font-weight:bold;
 margin-bottom: 10px;
}
.fourth_section .logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 40px;
    /* background: rgb(246, 224, 224); */
}
.fourth_section .logo_container .img{
    margin: 0px 20px;
}
.fourth_section .logo_container .img img{
    width: 100px;
}
.fifth_section{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(105, 105, 111);
    color:rgb(63, 60, 60); 
}
.fifth_section .fifth_section_container{
    width:100%;
    margin: 30px 8px;
    /* background: rgb(180, 73, 73); */
    display:flex;
    align-items:center;
    justify-content: center;
   

}
.fifth_section .fifth_section_container .col{
    /* background:blue; */
    width: 200px;
    margin: 5px;
    padding: 3px;
    text-align:left;
    
}
.fifth_section .fifth_section_container .col:last-child{
    width:300px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /* text-align:center; */
    /* background: #000; */
   
   
}
.fifth_section .fifth_section_container .col:last-child p{
    margin: 7px 0;
    display:flex;
    justify-content: center;
    align-items:center;
}
.fifth_section .fifth_section_container .col h2{
    font-size:20px;
    margin-bottom:1px
}
.fifth_section .fifth_section_container .col .links_container{
    display:flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.fifth_section .fifth_section_container .col a{
    text-decoration: none ;
    margin:6px 0;
    color:inherit;
    transition:transform 0.5s ease, white 0.5s ease;
    
   
}
.fifth_section .fifth_section_container .col a:hover{
    transform:translateX(10px);
    color: white;
}
.fifth_section .fifth_section_container .col .Logo1{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: Showcard Gothic;
    color:#000;
    /* margin:0 30px; */
    margin-bottom:10px;
    border: dotted black;
}

.col a h2:not(.col:last-child){
    transition: transform 0.5s ease;
}
.col a h2:not(.col:last-child):hover{
    transform: translateX(10px);
}
 /* ---footter suscribe area--- */
 .suscribe input{
    /* position:relative; */
    font-size:15px;
    display:inline-block;
    margin-bottom: 30px;
    margin-top: 6px;
    }
    .suscribe  input[type="text"]{
        background:#fff;
        width: 200px;
        height: 30px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }
    .suscribe input[type="submit"]{
        position: relative;
        left:-5px;
        border-radius: 0 25px 25px 0;
        height: 30px;
        width: 80px;
        border:none;
        outline: none;
        cursor: pointer;
        background:yellow;
        transition: 0.5s ease-out;
    }
    .suscribe input[type="submit"]:hover{
       background: rgb(94, 88, 6);
       color: white;
        
    }
    .down{
        background-color: antiquewhite;
        text-align: center;
        width: 100%;
    }
     /* ==========media query====== */
     @media screen and (max-width: 800px){
        .Logo{
            margin-left:10px;
            font-size: 16px;
        }
        .search input[type="submit"]{
            font-size:13px;
            width:50px;
            position: relative;
            top: -0.6px;
            height:25px;
        }
        .navbar.active{
            height:250px;
        }
        nav ul li a{
            margin-left:0;
            padding: 5px 10px;
        }
        nav{
            position: absolute;
            top: 50px;
            z-index: 1000;
            left: 0;
            right: 0;
            width:100%;
            height:0px;
            background: rgb(188, 188, 163);
            transition: 0.5s;
            overflow:hidden;
        }
        nav ul{
        width:100%;
        height:250px;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        margin:0;
        padding:0;
        opacity: 0;

        }
        .navbar.active ul{
            opacity:1;
        }
        nav ul li{
            padding:15px;
        }
        /* .nav_bar .container{
             background: #000; 
            
        } */
        .menu{
            display:block;
        }
        .search{
               /* background: blue; */
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;

        }
        .search form{
            max-width: 90%;
        }
        .search  input[type="text"]{
            width: 50%;
            height: 25px;
        }
         /* First section */
         .logo .title span{
            font-size: 19px;
        }
        .heading_text h1{
            font-size: 24px;
        }
        .logo{
            width:70%;
          
        }
        nav{
            display:block;
        }
        .title{
            border-bottom:2px solid white;
        }
        /* second_section */
        .second_section .container{
            flex-direction: column;
        }
        /* third_section */
        .box_container{
            flex-direction: column;
        }
        .box{
            width:70%;
        }
        

         /* Footer section */
         .fifth_section_container{
            flex-direction: column;
        }
        
        
        .fifth_section .fifth_section_container .col {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top:10px;
        }
     }
     @media screen and (max-width:1113px){
        .Logo{
            margin-left:10px;
            font-size: 18px;
        }
        .search input[type="submit"]{
            font-size:13px;
            width:50px;
            position: relative;
            top: -0.6px;
            height:25px;
        }
        .search{
            background: blue;
             width: 40%;
             display: flex;
             align-items: center;
             justify-content: center;
             display: none;

     }
     .search form{
         max-width: 90%;
     }
     .search  input[type="text"]{
         width: 20%;
         height: 25px;
     }
    }